.postHeader {
    color: var(--textColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postEntry {
    /*box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.02), 1px 1px 15px 0 rgba(0, 0, 0, 0.03);*/
    transition: all 0.3s ease-in-out;
    border-radius: var(--radius);
}

.postEntry .postEntryTitle {
    transition: all 0.3s ease-in-out;
}

.postEntry:hover .postEntryTitle {
    transition: all 0.3s ease-in-out;
    color: var(--main-color);
}

.postEntryCover {
    background-position: center;
    background-size: cover;
    width: 100%;
}

.postEntryImage {
    position: static !important;
    border-radius: 4px;
}

.postEntryExcerpt {
    line-height: 22px;
    max-height: 66px;
    overflow-y: hidden;
}

.categoriesLink {
    transition: all 0.3s ease-in-out;
}

.pageBtn {
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.02), 1px 1px 15px 0 rgba(0, 0, 0, 0.03);
    padding: 16px;
    border-radius: var(--radius);
    background-color: #fff;
}

.pageBtn:hover {
    transition: all 0.3s ease-in-out;
    border-radius: var(--radius);
    color: var(--main-color);
}