.postHeader {
    color: var(--main-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postEntry {
    /*box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.02), 1px 1px 15px 0 rgba(0, 0, 0, 0.03);*/
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

.postEntry .postEntryTitle {
    transition: all 0.3s ease-in-out;
}

.postEntry:hover .postEntryTitle {
    transition: all 0.3s ease-in-out;
    color: var(--main-color);
}

.postEntryCover {
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    width: 100%;
}

.postEntryImage {
    position: static !important;
}

.postEntryExcerpt {
    line-height: 22px;
    max-height: 66px;
    overflow-y: hidden;
}

