.aboutCard {
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.aboutLink {
  border-radius: 50%;
  height: 72px;
  width: 72px;
}

.reGrid {
  display: grid;
  padding: 0;
}

@media (max-width: 1024px) {
  .aboutLink {
    height: 48px;
    width: 48px;
  }
}

.earthCard {
  background-image: url('https://stars.tripper.press/api/himawari8');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.mapCard {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  display: block;
}

.mapCardInfoLayer {
  height: 100%;
  background: linear-gradient(#00000040, #00000000 12%, #00000000 82%, #00000060);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 24px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
}

.imageCard {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.flipCard {
  position: relative;
  transform-style: preserve-3d;
  transition: ease-in-out .45s;
}

.flipCardFront,
.flipCardBack {
  padding: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  backface-visibility: hidden
}

.flipCardBack {
  transform: rotateY(180deg);
}

.flipCard:hover {
    transform: rotateY(180deg);
  }

.labCard {
  background-image: url(/cool-background.svg);
  background-position: center;
  background-size: cover;
  display: block;
  position: relative;
}

.cardBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 25px 22px 17px 25px;
  padding: 8px;
  z-index: 999;
  color: white;
  background-color: black;
  height: 36px;
  width: 36px;
  font-size: 22px;
  line-height: 22px;
  border-radius: 50%;
  text-align: center;
  transition: 0.2s ease-in-out;
}

.cardBtn:hover {
  background-color: #3e3e3e;
  transition: 0.2s ease-in-out;
}

.dialogueBox {
  border-radius: var(--radius);
}