.aboutCard {
  border-radius: var(--radius);
  min-height: 174px
}

.aboutLink {
  border-radius: 50%;
  height: 72px;
  width: 72px;
}

@media (max-width: 1024px) {
  .aboutLink {
    height: 48px;
    width: 48px;
  }
}

.earthCard {
  background-image: url('https://stars.tripper.press/api/himawari8');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.labCard {
  background-image: url(/cool-background.svg);
  background-position: center;
  background-size: cover;
  display: block;
  position: relative;
}

.cardBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 25px 22px 17px 25px;
  padding: 8px;
  z-index: 999;
  color: white;
  background-color: black;
  height: 36px;
  width: 36px;
  font-size: 22px;
  line-height: 22px;
  border-radius: 50%;
  text-align: center;
  transition: 0.2s ease-in-out;
}

.cardBtn:hover {
  background-color: #3e3e3e;
  transition: 0.2s ease-in-out;
}

.dialogueBox {
  border-radius: var(--radius);
}