@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-padding-top: 65px;
}

.center {
    margin: 0 auto
}

/*
Photup Article Style
*/

:root {
    --main-color: #71afdd;
    --submain-color: #A3B4BF ;
    --main-black: #222831;
    --textColor: #222831;
    --radius: 4px;
    color: #222831;
}

@media (prefers-color-scheme: dark) {
    :root {
        --textColor: #E2E2E2;
        color: #E2E2E2;
    }
}

@scope (.article) {}

.article p {
    margin: 1em 0px !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    letter-spacing: 0;
}

/*
  文字避头尾法则
  aiokr learn from https://blog.csdn.net/qq_23375733/article/details/99975659
  */

.article p,
.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
    table-layout: fixed !important;
    /*文字避首尾 -- 防止撑开*/
    word-wrap: break-word !important;
    /*英文单字因自动换行*/
    word-break: normal !important;
    /*正常避头尾 */
    /*text-align: justify !important;*/
    /*文字左右对齐*/
    text-justify: inter-ideograph !important;
    /*用表意文本来排齐内容*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.5em 0 0.5em 0;
    padding: 0;
    font-style: bold !important;
    color: var(--textColor);
    margin-top: 1.5em;
    margin-bottom: .5em;
    text-align: left !important;
    font-weight: 600;
}

h1 {
    font-style: normal;
    font-size: 2.4em;
    line-height: 140%;
}

h2 {
    font-size: 2.2em !important;
    border-bottom: var(--main-color) solid 8px;
    line-height: 1.2em;
    display: inline-block;
    padding-right: 8px;
    letter-spacing: 1px;
    font-weight: 800;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1em;
    font-weight: 500;
}

h6 {
    font-size: 1em;
    font-weight: 400;
}

strong {
    font-weight: 700;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
}

ol,
ul {
    margin-left: 1.2em !important;
}

ol li,
ul li {
    margin: 10px 0;
    font-style: normal;
    line-height: 31px;
}

.article img {
    display: block;
    margin: auto;
    border-radius: 4px;
    max-width: 100%;
}

blockquote {
    padding: 0 0px 0 10px;
    margin: 1.5em 0px !important;
    border-left: 6px solid #71afdd;
    quotes: none;
}

blockquote p {
    color: #767676;
    margin-top: 0 !important;
}

blockquote::before,
.stressed-quote::before {
    content: "\201C";
    display: block;
    font-style: normal;
    font-size: 28px;
    color: var(--main-color);
    font-weight: bold;
    line-height: 30px;
}

.article a {
    color: var(--textColor);
    text-decoration: underline;
    text-decoration-color: var(--main-color);
}

.article mark {
    background: #71afdd80;
}

.article ol li,
.article ul li {
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: 0;
}

.article .footnotelist ol li span {
    display: contents !important;
}


.article hr {
    margin: 24px auto;
    padding: 12px;
    border: 0;
    background-image: url('../public/halo.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.article pre {
    margin: 1em 0px !important;
}

.article code {
    line-height: 16px;
}

.article section.footnotes ol {
    list-style: decimal;
}

.article .footnote-ref a {
    color: var(--main-black) !important;
    text-decoration: none;
    font-size: .2em;
}

.markdownIt-Anchor {
    display: none;
}

.postArticle a {
    color: #E2E2E2 !important;
}

.postArticle .footnote-ref a {
    color: #E2E2E2 !important;
}