.header {
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    -webkit-backdrop-filter: saturate(180%) blur(50px) !important;
    backdrop-filter: saturate(180%) blur(50px) !important;
    z-index: 9999;
    width: 100%;
}

@media (min-width: 1024px) {
    .header {
        top: 0;
        background-color: #ffffffcc;
    }
}

@media (max-width: 1022px) {
    .header {
        left: 0;
        right: 0;
        bottom: 12px;
        width: 90%;
        justify-content: center;
        background-color: #ffffffcc;
        border-radius: var(--radius);
        box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.02), 1px 1px 15px 10px rgba(0, 0, 0, 0.03);
    }
}

.header a {
    height: 60px;
    line-height: 60px;
    padding: 0 12px;
}

@media (prefers-color-scheme: dark) {
    .header {
        background-color: #161617cc;
    }
}