.header {
    position: fixed;
    -webkit-backdrop-filter: saturate(180%) blur(50px) !important;
    backdrop-filter: saturate(180%) blur(50px) !important;
    z-index: 9999;
    width: 100vw;
    display: flex;
}

@media (min-width: 1024px) {
    .header {
        top: 0px;
        left: 0px;
    }
}

@media (max-width: 1022px) {

    .header {
        bottom: 0px;
        left: 0px;
        justify-content: center;
        border-top-left-radius: var(--radius);
        border-top-right-radius: var(--radius);
        box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.02), 1px 1px 15px 10px rgba(0, 0, 0, 0.03);
    }
}

.header a {
    height: 52px;
    display: inline-block;
    line-height: 52px;
    padding: 0 12px;
}


.hero-img {
    background-image: url('https://imgur.lzmun.com/picgo/after2022/6DD1FBC3-AD8A-4340-842D-6ACF531F8291_1_105_c.jpeg_itp');
    background-position: center;
    background-size: cover;
    display: block;
    position: relative;
}

.hero-layer {
    background: linear-gradient(rgba(32, 32, 32, 0) 14%, rgba(32, 32, 32, 0.32) 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-title,
.hero-subtitle {
    color: #fff;
}

.postEntry {
    border-radius: 5px;
}

.postEntry .postEntryTitle {
    transition: all 0.3s ease-in-out;
}

.postEntry:hover .postEntryTitle {
    transition: all 0.3s ease-in-out;
    color: var(--main-color);
}

.postEntryCover {
    background-position: center;
    background-size: cover;
    border-radius: var(--radius);
}

.postEntryInfo {}

.postHeader {
    color: var(--textColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postEntryExcerpt {
    line-height: 22px;
    max-height: 44px;
    overflow-y: hidden;
}

.postEntryExcerptNoCover {
    line-height: 22px;
    max-height: calc(22px * 12);
    overflow-y: hidden;
}

.protfolioEntryImg {
    display: block;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: var(--radius);
}

.protfolioEntryLayer {
    border-radius: var(--radius);
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}