.postEntry {
    border-radius: 5px;
}

.postEntry .postEntryTitle {
    transition: all 0.3s ease-in-out;
}

.postEntry:hover .postEntryTitle {
    transition: all 0.3s ease-in-out;
    color: var(--main-color);
}

.postEntryCover {
    background-position: center;
    background-size: cover;
    border-radius: var(--radius);
}

.postEntryInfo {}

.postHeader {
    color: var(--textColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postEntryExcerpt {
    line-height: 22px;
    max-height: 44px;
    overflow-y: hidden;
}

.postEntryExcerptNoCover {
    line-height: 22px;
    max-height: calc(22px * 12);
    overflow-y: hidden;
}