.hero {
  background-image: url('https://imgur.lzmun.com/picgo/after2022/6DD1FBC3-AD8A-4340-842D-6ACF531F8291_1_105_c.jpeg_itp');
  background-position: center;
  background-size: cover;
  display: block;
  position: relative;
  height: 60vh;
}

@media (max-width: 1024px) {
  .hero {
    height: 50vh;
  }
}

.heroLayer {
  background: linear-gradient(rgba(24, 24, 27, 1) 15%, rgba(24, 24, 27, 0.9) 60%, rgba(24, 24, 27, 1) 100%);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.protfolioEntryImg {
  display: block;
  background-position: center;
  background-size: cover;
  position: relative;
}

.protfolioEntryLayer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.darkAnchor {
    height: 65px;
    margin-top: -65px;
}