.hero {
  background-image: url('/cool-background.svg');
  background-color: rgba(24, 24, 27, 0.5);
  background-position: center;
  background-size: cover;
 background-attachment:fixed;
  display: block;
  min-height: 100dvh;
}

.protfolioEntryImg {
  display: block;
  background-position: center;
  background-size: cover;
  position: relative;
}

.protfolioEntryLayer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.topLight {
  box-shadow: 0px 0px 10px white;
}